<template>
  <a-row :gutter="24">
    <a-col :span="24">
      <a-spin :spinning="!!loadings">
        <h1>Обновить код МЛВ</h1>
        <a-card>
            <a-input placeholder="Код вставлять сюда!" type="textarea" v-model="code" style="height: 50vh" /><br><br>
            <a-button type="primary" @click="send">Отправить</a-button>
        </a-card>
      </a-spin>
    </a-col>
  </a-row>
</template>

<script>
import axios from 'axios'

export default {
  name: 'code',

  data () {
    return {
      code: '',
      loadings: 0
    }
  },

  beforeMount() {
    this.fetch()
  },

  methods: {
    async fetch() {
      this.loadings++
      try {
          const response = await axios.get('/api/get-code')
          this.code = response.data
      } catch (e) {
          this.$message.error(e.response.data)
      }
      this.loadings--
    },

    async send () {
      this.loadings++
      try {
          await axios.post('/api/update-code', { code: this.code })
          this.$message.success('Обновлено!')
      } catch (e) {
          this.$message.error(e.response.data)
      }
      this.loadings--
    },
  }
}
</script>

<style lang="less" scoped>
</style>
