<template @keyup="deletePressed" @keydown="deletePressed">
  <a-spin :spinning="!!loadings" wrapper-class-name="height100">

    <global-events
            :filter="(event, handler, eventName) => event.target.tagName !== 'INPUT'"
            @keyup.delete="deletePressed"
            @keydown.shift="enterAddEdgeMode"
            @keyup.16="leaveAddEdgeMode"
    />

    <a-row style="height: 100%" :gutter="24">

      <a-col :span="4" style="height: 100%">
        <a-row type="flex" align="top" style="min-height: 100%; height: 1px; flex-direction: column">
          <a-col :span="24" style="height: 50px; flex: 0 0 50px">
            <a-input v-model="nodesListFilter" placeholder="Фильтр узлов" size="large">
              <a-icon slot="prefix" type="search" />
            </a-input>
          </a-col>

          <a-col :span="24" style="flex: 1 0 0">
            <a-list class="nodes-list" bordered size="small" :dataSource="filteredNodesArray" style="height: 1px; min-height: 100%; overflow: auto">
              <a-list-item class="nodes-list-item" slot="renderItem" slot-scope="item" @click="focusOnNode(item)">
                {{ item.label }}
              </a-list-item>
            </a-list>
          </a-col>
        </a-row>
      </a-col>

      <a-col :span="20" style="height: 100%">
        <a-row type="flex" align="top" style="min-height: 100%; height: 1px; flex-direction: column">
          <a-col :span="24" style="height: 50px; flex: 0 0 50px">
            <a-button size="large" icon="question-circle" @click="showHelpModal = true">Помощь</a-button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <a-button size="large" icon="save" @click="saveSemanticNetwork">Сохранить</a-button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <a-button size="large" icon="export" @click="exportSemNetToJson">Экспорт сем. сети в JSON</a-button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <a-button size="large" icon="experiment" @click="test">For testing</a-button>
          </a-col>

          <a-col :span="24" style="flex: 1 0 0">
            <a-card style="height: 100%" :body-style="{height: '100%', padding: 0}">
              <div ref="canvas"
                   style="height: 100%"
                   @dblclick="canvasDbClick"
              ></div>
            </a-card>
          </a-col>
        </a-row>
      </a-col>
    </a-row>

    <a-modal title="Добавить узел" v-model="managing.node.addModalShowed" @ok="addNode">
      <a-input placeholder="Имя узла" ref="addNodeInput" v-model="managing.node.label" @keypress.enter="addNode"></a-input>
    </a-modal>

    <a-modal title="Редактировать узел" v-model="managing.node.editModalShowed" @ok="editNode">
      <a-input placeholder="Имя узла" ref="editNodeInput" v-model="managing.node.label" @keypress.enter="editNode"></a-input>
    </a-modal>

    <a-modal title="Редактировать связь" v-model="managing.edge.editModalShowed" @ok="editEdge">
      <!--<a-auto-complete placeholder="Имя связи" ref="editEdgeInput" v-model="managing.edge.label" @keypress.enter="editEdge" :dataSource="edgesLabels" :filterOption="edgesLabelsFilter" style="width: 100%">-->
      <a-input placeholder="Имя связи" ref="editEdgeInput" v-model="managing.edge.label" @keypress.enter="editEdge"></a-input>
      <!--</a-auto-complete>-->
    </a-modal>

    <a-modal title="Помощь" v-model="showHelpModal" :footer="null">
      <b>Создать узел</b> - Двойной клик по холсту.<br>
      <b>Создать связь</b> - Зажать Shift и протянуть зажатым курсором от первого узла до второго.<br>
      <b>Редактировать узел</b> - Двойной клик по вершине.<br>
      <b>Редактировать связь</b> - Двойной клик по связи.<br>
      <b>Удалить элементы</b> - Выделить, затем нажать delete.<br>
      <b>Выделить несколько элементов</b> - CTRL + Клик по элементам.<br>
      <b>Масштабирование</b> - Прокрутка.<br>
      <b>Панорамитрирование</b> - Сдвиг курсором холста.<br>
    </a-modal>

    <a-modal title="Экспорт сем. сети в JSON" v-model="showExportSemNetModal" :footer="null" :width="1000">
      <a-input type="textarea" read-only :value="exportedToSemNetJson" style="height: 500px">

      </a-input>
      <pre><code>{{  }}</code></pre>
    </a-modal>
  </a-spin>
</template>

<script>
import { DataSet, Network } from 'vis/index-network'
import 'vis/dist/vis-network.min.css'
import { SemanticNetworkApi } from '../api/SemanticNetworkApi'
import GlobalEvents from 'vue-global-events'
import axios from 'axios'

let SemanticNetwork = {
  network: null,
  nodes: null,
  edges: null
}

export default {
  name: 'engineer',

  components: { GlobalEvents },

  data () {
    return {
      exportedToSemNetJson: '',
      showExportSemNetModal: false,

      showHelpModal: false,

      nodesListFilter: '',
      loadings: 1,

      semanticNetwork: {
        nodes: {},
        edges: {}
      },

      selectedNodes: [],
      selectedEdges: [],

      addEdgeMode: false,

      managing: {
        node: {
          id: '',
          label: '',
          x: 0,
          y: 0,
          addModalShowed: false,
          editModalShowed: false
        },

        edge: {
          id: '',
          label: '',
          addModalShowed: false,
          editModalShowed: false
        }
      }
    }
  },

  mounted () {
    setTimeout(this.init, 100)
    this.loadings--
  },

  computed: {
    nodesArray () {
      return Object.values(this.semanticNetwork.nodes)
    },

    filteredNodesArray () {
      const re = new RegExp(this.nodesListFilter.toLowerCase())
      return this.nodesArray.filter((node) => {
        return re.test(node.label.toLowerCase())
      })
    },

    edgesArray () {
      return Object.values(this.semanticNetwork.edges)
    },

    edgesLabels () {
      return [...(new Set(this.edgesArray.map(x => x.label ? x.label.toString() : ''))).values()]
    }
  },

  methods: {

    edgesLabelsFilter (inputValue, option) {
      return option.componentOptions.children[0].text.toUpperCase().indexOf(inputValue.toUpperCase()) >= 0
    },

    async fetchNetwork () {
      let networkData

      this.loadings++
      try {
        const res = await SemanticNetworkApi.get()
        networkData = res.data
      } catch (e) {
        this.$message.error(e)
      }
      this.loadings--

      const nodesObject = {}
      for (let node of networkData.nodes) {
        nodesObject[node.id] = node
      }
      const edgesObject = {}
      for (let edge of networkData.edges) {
        if (!nodesObject[edge.from] || !nodesObject[edge.to]) {
          continue
        }
        edgesObject[edge.id] = edge
      }
      this.semanticNetwork.nodes = nodesObject
      this.semanticNetwork.edges = edgesObject
    },

    async init () {
      await this.fetchNetwork()
      await this.initVis()
    },

    initVis () {
      let options = {
        nodes: {
          borderWidth: 1,
          shape: 'box',
          size: 5,
          color: {
            border: '#001529',
            background: '#D0E5F9'
          },
          font: {
            color: '#001529',
            face: 'Segoe UI Light'
          }
        },
        physics: {
          enabled: false
        },
        edges: {
          arrows: {
            to: {
              enabled: true,
              scaleFactor: 0.5
            }
          },
          color: {
            color: '#001529',
            highlight: '#f44336'
          },
          smooth: {
            enabled: false,
            type: 'continuous'
          },
          font: {
            align: 'bottom',
            color: '#001529',
            face: 'Segoe UI Light'
          },
          selectionWidth: 1
        },
        interaction: {
          multiselect: true
        },
        manipulation: {
          enabled: false,
          addEdge: (data, callback) => {
            setTimeout(() => {
              callback(data)
              this.addEdgeInit(data.id)
            }, 10)
          }
        }
      }

      SemanticNetwork.nodes = new DataSet(Object.values(this.semanticNetwork.nodes))
      SemanticNetwork.edges = new DataSet(Object.values(this.semanticNetwork.edges))
      SemanticNetwork.network = new Network(this.$refs.canvas, {
        nodes: SemanticNetwork.nodes,
        edges: SemanticNetwork.edges
      }, options)

      SemanticNetwork.nodes.on('add', (event, properties, senderId) => {
        for (let nodeId of properties.items) {
          this.semanticNetwork.nodes[nodeId] = SemanticNetwork.nodes.get(nodeId)
        }
      })

      SemanticNetwork.nodes.on('update', (event, properties, senderId) => {
        for (let nodeId of properties.items) {
          const node = SemanticNetwork.nodes.get(nodeId)
          this.$set(this.semanticNetwork.nodes, nodeId, node)
        }
      })

      SemanticNetwork.nodes.on('remove', (event, properties, senderId) => {
        for (let nodeId of properties.items) {
          this.$delete(this.semanticNetwork.nodes, nodeId)
        }
      })

      SemanticNetwork.edges.on('add', (event, properties, senderId) => {
        for (let edgeId of properties.items) {
          this.semanticNetwork.edges[edgeId] = SemanticNetwork.edges.get(edgeId)
        }
      })

      SemanticNetwork.edges.on('update', (event, properties, senderId) => {
        for (let edgeId of properties.items) {
          const edge = SemanticNetwork.edges.get(edgeId)
          this.$set(this.semanticNetwork.edges, edgeId, edge)
        }
      })

      SemanticNetwork.edges.on('remove', (event, properties, senderId) => {
        for (let edgeId of properties.items) {
          this.$delete(this.semanticNetwork.edges, edgeId)
        }
      })

      SemanticNetwork.network.on('selectNode', (data) => {
        this.selectedNodes = data.nodes
      })

      SemanticNetwork.network.on('deselectNode', (data) => {
        this.selectedNodes = data.nodes
      })

      SemanticNetwork.network.on('selectEdge', (data) => {
        this.selectedEdges = data.edges
      })

      SemanticNetwork.network.on('deselectEdge', (data) => {
        this.selectedEdges = data.edges
      })
    },

    addNodeInit ({ x, y }) {
      this.managing.node.label = ''
      this.managing.node.addModalShowed = true
      this.managing.node.x = x
      this.managing.node.y = y
      setTimeout(() => {
        this.$refs.addNodeInput.focus()
      }, 100)
    },

    addNode () {
      SemanticNetwork.nodes.add({
        label: this.managing.node.label,
        x: this.managing.node.x,
        y: this.managing.node.y
      })
      this.managing.node.addModalShowed = false
    },

    addEdgeInit (edgeId) {
      this.managing.edge.id = edgeId
      this.managing.edge.label = ''
      this.managing.edge.editModalShowed = true
      setTimeout(() => {
        this.$refs.editEdgeInput.focus()
      }, 100)
    },

    editNodeInit (nodeId) {
      const node = SemanticNetwork.nodes.get(nodeId)
      this.managing.node.id = nodeId
      this.managing.node.label = node.label
      this.managing.node.editModalShowed = true
      setTimeout(() => {
        this.$refs.editNodeInput.focus()
      }, 100)
    },

    editNode () {
      const node = SemanticNetwork.nodes.get(this.managing.node.id)
      node.label = this.managing.node.label
      SemanticNetwork.nodes.update(node)
      this.managing.node.editModalShowed = false
    },

    editEdgeInit (edgeId) {
      const edge = SemanticNetwork.edges.get(edgeId)
      this.managing.edge.id = edgeId
      this.managing.edge.label = edge.label
      this.managing.edge.editModalShowed = true
      setTimeout(() => {
        this.$refs.editEdgeInput.focus()
      }, 100)
    },

    editEdge () {
      const edge = SemanticNetwork.edges.get(this.managing.edge.id)
      edge.label = this.managing.edge.label
      SemanticNetwork.edges.update(edge)
      this.managing.edge.editModalShowed = false
    },

    DomCoordFromEvent (event) {
      return {
        x: event.pageX - this.$refs.canvas.getBoundingClientRect().left,
        y: event.pageY - this.$refs.canvas.getBoundingClientRect().top
      }
    },

    canvasDbClick (event) {
      const DOMCoord = this.DomCoordFromEvent(event)

      const nodeId = SemanticNetwork.network.getNodeAt(DOMCoord)
      const edgeId = SemanticNetwork.network.getEdgeAt(DOMCoord)

      if (nodeId) {
        return this.editNodeInit(nodeId)
      } else if (edgeId) {
        return this.editEdgeInit(edgeId)
      } else {
        this.addNodeInit(SemanticNetwork.network.DOMtoCanvas(DOMCoord))
      }
    },

    deletePressed () {
      if (!this.selectedNodes.length && !this.selectedEdges) {
        return
      }

      this.$confirm({
        title: 'Вы уверены?',
        content: 'Все выделенные элементы будут удалены',
        okText: 'Удалить',
        okType: 'danger',
        cancelText: 'Отмена',
        onOk: () => {
          SemanticNetwork.nodes.remove(this.selectedNodes)
          SemanticNetwork.edges.remove(this.selectedEdges)
        }
      })
    },

    enterAddEdgeMode () {
      if (this.addEdgeMode) {
        return
      }
      this.addEdgeMode = true
      SemanticNetwork.network.addEdgeMode()
    },

    leaveAddEdgeMode () {
      this.addEdgeMode = false
      SemanticNetwork.network.disableEditMode()
    },

    focusOnNode (node) {
      SemanticNetwork.network.selectNodes([node.id])
      SemanticNetwork.network.focus(node.id, {
        scale: 1,
        animation: {
          duration: 200
        }
      })
    },

    async test () {
      const res = await axios.get('/api/test')
      console.log(res)
    },

    packageNetwork () {
      SemanticNetwork.network.storePositions()

      const nodes = SemanticNetwork.nodes.get({
        fields: ['id', 'label', 'x', 'y']
      })

      const edges = SemanticNetwork.edges.get({
        fields: ['id', 'label', 'from', 'to']
      })

      return { nodes, edges }
    },

    async saveSemanticNetwork () {
      this.loadings++
      try {
        await SemanticNetworkApi.save(this.packageNetwork())
        this.$message.success('Сохранено!')
      } catch (e) {
        this.$message.error(e)
      }
      this.loadings--
    },

    exportSemNetToJson () {
      this.exportedToSemNetJson = JSON.stringify(this.packageNetwork())
      this.showExportSemNetModal = true
    }
  }
}
</script>

<style lang="less" scoped>
  .height100{
    height: 100%;
  }
  .height100 > *{
    height: 100%;
  }

  .context-menu{
    position: absolute;
  }

  .nodes-list-item{
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover{
      background-color: #CCC;
    }
  }
</style>

<style>
  .height100 .ant-spin-container{
    height: 100%;
  }
</style>
