<template>
  <a-row type="flex" align="middle" justify="center" style="min-height: 100%; flex-direction: column">
    <a-col :span="24" style="text-align: center;">
        <h1><img src="~@/assets/ferret-logo.jpg" style="height: 64px; border-radius: 100%"> <span style="font-size: 150%; font-weight: 100; vertical-align: sub; padding-left: 10px">Yapsse</span></h1>
    </a-col>

    <a-col :span="10">

      <a-row :gutter="12">
        <a-col :span="20" :offset="2">
          <a-input placeholder="Запрос" size="large" v-model="searchQuery" @keypress.enter="search" autoFocus/>
        </a-col>
        <a-col :span="2">
          <a-button type="primary" size="large" @click="search"><a-icon type="search"></a-icon> Поиск</a-button>
        </a-col>
      </a-row>

      <a-row :gutter="12">
        <a-col :span="20" :offset="2" style="color: #AAA">
          <p>
            <b>Например:</b><br>
            <a @click="search($event, 'Какова продолжительность жизни сфинкса?')">Какова продолжительность жизни сфинкса?</a><br>
            <a @click="search($event, 'Как ухаживать за сфинксом?')">Как ухаживать за сфинксом?</a><br>
            <a @click="search($event, 'Какое домашнее животное ходит в туалет в лоток?')">Какое домашнее животное ходит в туалет в лоток?</a><br>
            <a @click="search($event, 'У какого домашнего животного вес 12 кг?')">У какого домашнего животного вес 12 кг?</a>
          </p>
        </a-col>
      </a-row>

    </a-col>

  </a-row>
</template>

<script>
export default {
  name: 'home',

  data () {
    return {
      searchQuery: ''
    }
  },

  methods: {
    search ($event, query) {
      if (query) {
        this.searchQuery = query
      }

      if (!this.searchQuery.length) {
        return
      }

      this.$router.push({
        name: 'search',
        query: { query: this.searchQuery }
      })
    }
  }
}
</script>

<style scoped>

</style>
