<template>
  <a-row :gutter="24">
    <a-col :span="24">
      <a-spin :spinning="!!loadings">
        <h1>Лог</h1>
        <a-card>
            <pre><code>{{ log }}</code></pre>
        </a-card>
      </a-spin>
    </a-col>
  </a-row>
</template>

<script>
import axios from 'axios'

export default {
  name: 'log',

  data () {
    return {
      log: '',
      loadings: 0
    }
  },

  beforeMount () {
    this.fetch()
  },

  methods: {
    async fetch () {
      this.loadings++
      try {
        const res = await axios.get('/api/log')
        this.log = res.data
      } catch (e) {
        this.$message.error(e)
      }
      this.loadings--
    },
  }
}
</script>

<style lang="less" scoped>
  .list-item{
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover{
      background-color: #CCC;
    }
  }
</style>
