<template>
  <a-spin :spinning="!!loadings">
      <a-row :gutter="24">
          <a-col :span="10">
              <a-input placeholder="Запрос" size="large" v-model="searchQuery" @keypress.enter="search" />
          </a-col>
          <a-col :span="2">
              <a-button size="large" type="primary" block @click="search"><a-icon type="search"></a-icon> Поиск</a-button>
          </a-col>
      </a-row>

      <a-row v-if="responseError">
        <a-col :span="24">
          <br><br>
          <a-alert message="Ошибка..." type="error">
            <pre slot="description"><code>{{ responseError }}</code></pre>
          </a-alert>
        </a-col>
      </a-row>

      <a-row v-if="results">
          <a-col :span="12">
              <br>
              <h4>Нашлось документов: {{ filteredResult.length }}</h4>
              <a-list itemLayout="horizontal" :dataSource="filteredResult">
                  <a-list-item class="list-item" slot="renderItem" slot-scope="item, index" @click="openPage(item.filename)">
                      <a-list-item-meta :description="'http://localhost:8080/api/web_pages/' + item.filename" >
                          <h2 slot="title">{{ index + 1 }}. {{ item.filename }} ({{ item.weight }})</h2>
                      </a-list-item-meta>
                  </a-list-item>
              </a-list>
          </a-col>
      </a-row>

      <a-modal v-model="showPageModal" :footer="null" :title="openedFile" :bodyStyle="{ padding: 0 }" centered width="80vw">
          <iframe :src="'/api/web_pages/' + openedFile" style="width: 80vw; height: 80vh; border: none"></iframe>
      </a-modal>
  </a-spin>
</template>

<script>
import axios from 'axios'

export default {
  name: 'search',

  data () {
    return {
      loadings: 0,
      searchQuery: '',
      results: null,
      responseError: null,
      showPageModal: false,
      openedFile: ''
    }
  },

  created () {
    this.fetch()
  },

  watch: {
    // eslint-disable-next-line
    ['$route'] () {
      this.fetch()
    }
  },

  computed: {
    filteredResult() {
      if (!this.results)
        return null
      return this.results.filter(x => Number(x.weight) > 0.1)
        .map(x => { 
          return { 
            filename: x.filename, 
            weight: Math.round(x.weight * 100) / 100
          } 
        })
    }
  },

  methods: {
    async fetch () {
      this.loadings++
      this.searchQuery = this.$route.query.query
      try {
        const res = await axios.get('/api/search', { params: { query: this.searchQuery } })
        this.results = res.data
        this.responseError = null
      } catch (e) {
        this.results = null
        this.responseError = e.response.data
      }
      this.loadings--
    },

    search () {
      if (!this.searchQuery.length) {
        return
      }

      this.$router.push({
        name: 'search',
        query: { query: this.searchQuery }
      })
    },

    openPage (filename) {
      this.openedFile = filename
      this.showPageModal = true
    }
  }
}
</script>

<style lang="less" scoped>
.list-item {
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #CCC;
    }
}
</style>
