<template>
  <div>
    <a-row>
      <a-col :span="12" :offset="6">
        <h1>Добавление источника</h1>
        <a-upload name="file" :multiple="true" action="/api/upload" @change="handleUpload">
          <a-button>
            <a-icon type="upload" /> Добавить файл
          </a-button>
        </a-upload>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="12" :offset="6">
        <a-spin :spinning="!!loadings">
          <h1>Список всех источников</h1>
          <a-list :dataSource="files" bordered size="large" style="max-height: 50vh; overflow: auto">
            <a-list-item class="list-item" slot="renderItem" slot-scope="item, index" >
              <a @click="openPage(item)">{{ item }}</a>
              <a-button @click="remove(index)">Удалить</a-button>
            </a-list-item>
          </a-list>
        </a-spin>
      </a-col>

      <a-modal v-model="showPageModal" :footer="null" :title="openedFile" :bodyStyle="{ padding: 0 }" centered width="80vw">
        <iframe :src="'/api/web_pages/' + openedFile" style="width: 80vw; height: 80vh; border: none"></iframe>
      </a-modal>

    </a-row>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'sources',

  data () {
    return {
      loadings: 0,
      files: [],
      showPageModal: false,
      openedFile: ''
    }
  },

  beforeMount () {
    this.fetch()
  },

  methods: {
    async fetch () {
      this.loadings++
      try {
        const res = await axios.get('/api/web-pages')
        this.files = res.data
      } catch (e) {
        this.$message.error(e)
      }
      this.loadings--
    },

    async remove(idx) {
      this.$confirm({
        title: 'Вы уверены?',
        content: 'Файл будет удалён на веки вечные!',
        okText: 'Удалить',
        okType: 'danger',
        cancelText: 'Отмена',
        onOk: async () => {
          this.loadings++
          try {
            await axios.post('/api/remove-web-page', { filename: this.files[idx] })
            this.files.splice(idx, 1)
          } catch (e) {
            this.$message.error(e)
          }
          this.loadings--
        }
      })
  
    },

    openPage (filename) {
      this.openedFile = filename
      this.showPageModal = true
    },

    handleUpload (info) {
      if (info.file.status === 'done') {
        this.$message.success(`${info.file.name} загружен успешно`);
        this.fetch()
      } else if (info.file.status === 'error') {
        this.$message.error(`Ошибка :(`);
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .list-item{
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover{
      background-color: #CCC;
    }
  }
</style>
