<template>
  <div id="app">
    <a-layout id="components-layout-demo-top" class="layout" style="min-height: 100vh; height: 1px">

      <a-layout-header :style="{ position: 'fixed', zIndex: 1, width: '100%' }">
        <div class="logo">
          <img src="~@/assets/ferret-logo.jpg">
          <span>YAPSSE</span>
        </div>
        <a-menu theme="dark" mode="horizontal" :defaultSelectedKeys="selectedMenuKeys" :style="{ lineHeight: '64px', float: 'left', marginLeft: '24px' }">
          <a-menu-item key="search">
            <router-link to="/"><a-icon type="search"></a-icon> Поиск</router-link>
          </a-menu-item>
          <a-menu-item key="engineer">
            <router-link to="/engineer"><a-icon type="tool"></a-icon> Инжиниринг</router-link>
          </a-menu-item>
          <a-menu-item key="sources">
            <router-link to="/sources"><a-icon type="read"></a-icon> Источники</router-link>
          </a-menu-item>
          <a-menu-item key="log">
            <router-link to="/log"><a-icon type="file-text"></a-icon> Лог</router-link>
          </a-menu-item>
          <!--<a-menu-item key="code">
            <router-link to="/code"><a-icon type="code"></a-icon> Обновить код МЛВ</router-link>
          </a-menu-item>-->
        </a-menu>
      </a-layout-header>

      <a-layout-content :style="{ padding: '0 50px', marginTop: '64px', flex: '1 0 0', minHeight: 'auto' }">
        <div :style="{ background: '#fff', padding: '24px', minHeight: '100%', height: '1px' }"><router-view/></div>
      </a-layout-content>

      <a-layout-footer style="text-align: center">
        <a-row>
          <a-col :span="12"><b>Yapsse</b> - Yet Another Pet Semantic Search Engine.</a-col>
          <a-col :span="12">Разработано Лизуновым Михаилом, Чжан Алёной и Шарцевым Григорием</a-col>
        </a-row>
      </a-layout-footer>

    </a-layout>
  </div>
</template>

<script>
export default {
  computed: {
    selectedMenuKeys () {
      if (this.$route.name === 'home') {
        return ['search']
      }
      return [this.$route.name]
    }
  }
}
</script>

<style lang="less">
  .logo {
    color: white;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    height: 64px;
    line-height: 64px;
    white-space: nowrap;
    float: left;

    img{
      max-height: 100%;
      padding: 5px 5px 10px 5px;
      border-radius: 100%;
    }
  }
</style>
